<!DOCTYPE html>
<html ng-app="spaceyyz">
	<head>
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="spaceyyz_bootstrap_theme.css">
		
	</head>
	<body style="overflow:hidden">
		<div class="clearfix" style="color: black; height: 40px">
			<div class="pull-left">

				<div class="pull-left logoContainer">
					<h1 style="display: inline;">SpaceYYZ</h1>
					<div class="logoSquircle"></div>
					<div class="logoSquircle squircle1"></div>
					<div class="logoSquircle squircle2"></div>
				</div>

				<i>your one stop shop for Space Operations</i>
			</div>

			<div class="pull-right" style="overflow: hidden" ng-controller="userAccount as userr">

				<div ng-show="user.user.email">
					Logged in as {{user.user.email}}
					<button ng-click="user.logout()" type="button" class="btn btn-primary">Log out</button>
				</div>

				<div ng-hide="userr.isLoggedIn()">
					<form class="form-inline" ng-submit="userr.login()">
						<div class="form-group">
							<label for="email" class="sr-only control-label">Email</label>
							<div>
								<input type="text" id="email" class="form-control" ng-model="email" placeholder="Email">
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="sr-only control-label">Password</label>
							<div>
								<input type="password" id="password" class="form-control" ng-model="password" placeholder="Password">
							</div>
						</div>

						<button ng-click="userr.login(email, password)" type="button" class="btn btn-primary">Log in</button>
					</form>
				</div>


			</div>
		</div>

		<div class="sideMenu">
			<uib-accordion>
				<div uib-accordion-group class="panel-default" heading="Home">
					<ul>
						<li><a ui-sref="auth.home" ui-sref-active="active">Account</a></li>
						<li><a ui-sref="about" ui-sref-active="active">About</a></li>
					</ul>
				</div>
				<div uib-accordion-group class="panel-default" heading="Launch Vehicles">
					<ul>
						<li><a ui-sref="auth.orderNew" ui-sref-active="active">Order New</a></li>
						<li><a ui-sref="auth.development" ui-sref-active="active">In Development</a></li>
						<li><a ui-sref="auth.completed" ui-sref-active="active">Inventory</a></li>
						<li><a ui-sref="auth.config" ui-sref-active="active">Config</a></li>
					</ul>
				</div>

				<div uib-accordion-group class="panel-default" heading="Flights">
					<ul>
						<li><a ui-sref="auth.schedule" ui-sref-active="active">Schedule flight</a></li>
						<li><a ui-sref="auth.progress" ui-sref-active="active">In Progress</a></li>
					</ul>
				</div>

				<div uib-accordion-group class="panel-default" heading="Spaceports">
					<ul>
						<!--
						<li><a ui-sref="auth.northAmericanSpaceports" ui-sref-active="active">North America</a></li>
						<li><a ui-sref="auth.europeanSpaceports" ui-sref-active="active">Europe</a></li>
						<li><a ui-sref="auth.asianSpaceports" ui-sref-active="active">Asia</a></li>
						-->
						<li><a ui-sref="auth.spaceportStatus" ui-sref-active="active">Status</a></li>
						<li><a ui-sref="auth.configureSpaceport" ui-sref-active="active">Configure</a></li>
					</ul>
				</div>

				<div uib-accordion-group class="panel-default" heading="Research & Development">
					<ul>
						<li><a ui-sref="auth.researchEngine" ui-sref-active="active">Engines</a></li>
						<li><a ui-sref="auth.designStage" ui-sref-active="active">Stages</a></li>
					</ul>
				</div>
			</uib-accordion>	
		</div>

		<div ui-view style="overflow-y: auto; background-color: #505050; height: calc(100% - 40px)">
		</div>
		
		<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-database.js"></script>
		<script>
			// Initializing Firebase
			var config = {
				apiKey: "AIzaSyDiLuNfzOgNiPzozjxKmxCymOtRsK2PFRc",
				authDomain: "spaceyyz.firebaseapp.com",
				databaseURL: "https://spaceyyz.firebaseio.com",
				storageBucket: "",
				messagingSenderId: "493266462901"
			};

			firebase.initializeApp(config);
		</script>

		<!--
	  	switching to google's cdn and also the minified version
		<script type="text/javascript" src="angular.js"></script>
		-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
		<!--
	  	switching to cdn/minified
		-->
		<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
		<!--
	  	unpkg seems to have a real old version of ui-router, so leave this for now
		<script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
		-->
		<!-- testing out webpack -->
		<!--
		<script type="text/javascript" src="bundle.js"></script>
		-->

		<!--just for debugging
		<script src="//unpkg.com/ui-router-visualizer@2"></script>
		-->

		<!-- app -->
	
		<script src="app.module.js"></script>
		<script src="app.config.js"></script>

		<!-- filters -->
		<script src="filter.js"></script>

		<!-- factories -->

		<script src="launch-vehicles/inventory.factory.js"></script>
		<script src="launch-vehicles/order.factory.js"></script>
		<script src="user.factory.js"></script>
		<script src="solar-system-factory.js"></script>
		<script src="flight/flight-factory.js"></script>

		<!-- Components -->

		<script src="login/login.js"></script>
		<script src="home.js"></script>
		<script src="about.js"></script>
		<script src="user.js"></script>
		<script src="launch-vehicles/order-new.js"></script>
		<script src="launch-vehicles/vehicle.js"></script>
		<script src="launch-vehicles/vehicle-order-detail.js"></script>
		<script src="launch-vehicles/order-modal.js"></script>
		<script src="launch-vehicles/order-delete-modal.js"></script>
		<script src="launch-vehicles/order-confirmation.js"></script>
		<script src="launch-vehicles/development.js"></script>
		<script src="launch-vehicles/inventory.js"></script>
		<script src="launch-vehicles/config.js"></script>
		<script src="launch-vehicles/config-confirm-modal.js"></script>

		<!-- should progress be renamed to status? -->

		<script src="flight/schedule.js"></script>
		<script src="flight/progress.js"></script>
		<script src="flight/details.js"></script>
		<!--
		<script type="text/javascript" src="spaceports/spaceports.js"></script>
		-->
		<script src="spaceports/spaceport-status.js"></script>
		<script src="spaceports/spaceport-factory.js"></script>
		<script src="spaceports/configure.js"></script>
		<script src="spaceports/config-confirm-modal.js"></script>
		<script src="research-development/engine.js"></script>
		<script src="research-development/stage.js"></script>

	</body>
</html>
