[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cutive', serif;
}

.nav, .pagination, .carousel, .panel-title a {cursor: pointer;}

.sideMenu {
	float: left; 
	width: 200px;
	background-color: #19B3FE;
	height: 100%;
}

.panel-body {
	background-color: #354545;
}

.panel-body a {
	color: #19b3fe;
}

.view a {
	color: #19b3fe;
}

.no-list-style, 
.vehicles {
	list-style: none;
	margin-top: 10px;
}

.vehicles .form-group {
	margin-left: 0px;
}

.vehicles li:nth-child(even) {
	background: #5d5d5d;
}

.vehicles li:last-child {
	border-bottom: none;
}

.vehiclePreview {
	display: flex;
	padding: 5px;
}	

.vehiclePreview > div {
	flex: 1 0 auto;
	width: 250px;
}

.view {
	margin: 10px;
}

.vehiclePreview > p {
	flex: 4 1 auto;
}

.vehiclePreviewDescription {
	margin-top: 10px;
}

.variantBrief {
	margin-left: 2rem;
}

.modal-header, .modal-body, .modal-footer {
	color: #333;
}

.logoContainer h1 {
	display: inline;
	z-index: 3;
	position: relative;
}

.orders {
	list-style: none;
}

.sideMenu ul {
	list-style: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}

#ascentPath {
	animation: drawPath 5s forwards linear;
}

.futureFlightEvent {
	animation: flight 0.2s forwards;
}

@keyframes drawPath {
	from {
		stroke-dasharray: 0 633;
	}
	to {
		stroke-dasharray: 633 0;
	}
}

@keyframes flight {
	from {
		fill: black;
	}

	to {
		fill: white;
	}
}
