.spaceport-list__element:not(:first-child) {
    margin: 10rem 0rem;
}

.spaceport {
    table-layout: fixed;
    width: 90%;
}

@media (max-width: 799px) {
    .spaceport-list {
        padding: 0rem;
    }
}

.spaceport__column-headers {
    color: @cool-blue;
}

.spaceport__launch-date {
    color: @cool-blue;
}

.spaceport__tminus {
    color: @cool-blue;
}