<div> 
	<h1>Order New Launch Vehicle</h1>
	<form class="form-horizontal order--search">
		<label class="search--label">Search by:</label>
		<select ng-model="$ctrl.searchType" ng-init="$ctrl.searchType='name'" class="btn btn-primary dropdown-toggle search--type">
			<option value="name">Name</option>
			<option value="capacity">Payload</option>
		</select>

		<div ng-switch="$ctrl.searchType" class="">
			<div ng-switch-when="name" class="input-group"> 
				<input type="text" ng-model="$ctrl.search_name" class="form-control" id="name" placeholder="" />
			</div>
			<div ng-switch-when="capacity" class="input-group">
				<input type="text" ng-model="$ctrl.search_payload" class="form-control" id="payload" placeholder="10000" />
				<div class="input-group-addon">kg</div>
			</div>
		</div>
	</form>

	<ul class="vehicle-list">
		<li ng-repeat="vehicle in $ctrl.vehicles.all | filter:$ctrl.search($ctrl.searchType) | orderBy: $ctrl.searchType : $ctrl.searchType === 'capacity'">
			<section>
				<h1>
					<a class="vehicle--name" ui-sref="vehicleOrderDetail({name: vehicle.nameWithoutSpaces})" ui-sref-active="active">{{vehicle.name}}</a>
				</h1>

				<h2 class="variants--header">Variants</h2>

				<div class="vehicle--variants">
					<div ng-repeat="variant in vehicle.variants | filter: $ctrl.variantFilter">
						<strong class="vehicle--name">{{variant.name}}</strong>
						<p>Capacity: {{variant.capacity | number}}kg</p>
						<p>Cost: {{variant.cost | currency}}</p>
					</div>
				</div>

				<p class="vehicle--description">{{vehicle.description}}</p>
			</section>
		</li>
	</ul>
</div>
