<div>
	<div> 
		<h1>{{$ctrl.vehicle.name}}</h1>
	</div>

	<p>{{$ctrl.vehicle.description}}</p>

	<h3>Variants</h3>

	<ul class="vehicle-list">
		<li ng-repeat="variant in $ctrl.vehicle.variants">
			<section>
				<div class="name--bar">
					<h1>{{variant.name}}</h1>
					<p>Cost: {{variant.cost | currency}}</p>
					<button class="btn btn-primary" ng-click="$ctrl.open(variant)">Order</button>
				</div>

				<section>
					<h2>Payload Capabilities</h2>
					<p>To LEO: {{variant.capacity | number}}kg</p>
					<br />
					<p>{{variant.description}}</p>
				</section>
			</section>
		</li>
	</ul>
</div>
