<div class="view">
	<h1>Engines</h1>

	<uib-tabset active="active">
		<uib-tab index="0" heading="Catalog">
			<ul class="no-list-style catalog">
				<li class="catalog__item" ng-repeat="engine in $ctrl.engines.all | orderBy: 'name'">
					<form class="form-horizontal">
						<div class="named-menu">
							<h4>{{engine.name}}</h4>
							<div class="btn-group" uib-dropdown is-open="status.isopen">
								<button id="change" type="button" class="btn btn-primary" 
									uib-dropdown-toggle ng-disabled="disabled">
									Modify <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="change">
									<li role="menuitem" ng-hide="engine.beingEdited"><a ng-click="$ctrl.editEngine(engine)">Edit</a></li>
									<li role="menuitem" ng-show="engine.beingEdited"><a ng-click="$ctrl.cancelEditEngine(engine)">Cancel edit</a></li>
									<li role="menuitem" ng-class="{'disabled': engine.beingEdited}"><a ng-click="$ctrl.deleteEngine(engine)">Delete</a></li>
								</ul>
							</div>
						</div>

						<section ng-show="engine.beingEdited" class="engine engine--editing">
									
							<p class="engine__sea-level isp__sea-level">Sea Level</p>
							<p class="engine__vacuum isp__vacuum">Vacuum</p>

							<p class="engine__header isp__header">Isp</p>
							<div class="input-group engine__sea-level isp__sea-level">
								<input type="number" class="form-control" id="ispSeaLevel" ng-model="engine.isp.seaLevel">
								<span ng-class="{'glyphicon-remove': engine.isp.seaLevel <= 0}" class="glyphicon form-control-feedback"></span>
								<div class="input-group-addon">s</div>
							</div>

							<div class="input-group engine__vacuum isp__vacuum">
								<input type="number" class="form-control" id="ispVacuum" ng-model="engine.isp.vacuum">
								<span ng-class="{'glyphicon-remove': engine.isp.vacuum <= 0}" class="glyphicon form-control-feedbacl"></span>
								<div class="input-group-addon">s</div>
							</div>

							<p class="engine__header thrust__header">Thrust</p>
							<p class="engine__sea-level thrust__sea-level__header">Sea Level</p>
							<p class="engine__vacuum thrust__vacuum__header">Vacuum</p>

							<div class="input-group engine__sea-level thrust__sea-level">
								<input type="number" class="form-control" id="thrustSeaLevel" ng-model="engine.thrust.seaLevel">
								<span ng-class="{'glyphicon-remove': engine.thrust.seaLevel <= 0}" class="glyphicon form-control-feedback"></span>
								<div class="input-group-addon">kN</div>
							</div>

							<div class="input-group engine__vacuum thrust__vacuum">
								<input type="number" class="form-control" id="thrustVacuum" ng-model="engine.thrust.vacuum">
								<span ng-class="{'glyphicon-remove':  engine.thrust.vacuum <= 0}" class="glyphicon form-control-feedback"></span>
								<div class="input-group-addon">kN</div>
							</div>

							<p class="engine__header description__header">Description</p>
							<textarea ng-model="engine.description" class="form-control engine__description description__content" id="description"></textarea>
						</section>

						<section ng-hide="engine.beingEdited" class="engine">

							<p class="engine__sea-level">Sea Level</p>
							<p class="engine__vacuum">Vacuum</p>

							<p class="engine__header">Isp</p>
							<p class="engine__sea-level">{{engine.isp.seaLevel}}s</p>
							<p class="engine__vacuum">{{engine.isp.vacuum}}s</p>

							<p class="engine__header">Thrust</p>
							<p class="engine__sea-level">{{engine.thrust.seaLevel}}kN</p>
							<p class="engine__vacuum">{{engine.thrust.vacuum}}kN</p>

							<p class="engine__header">Description</p>
							<p class="engine__description">{{engine.description}}</p>
						</section>

					</form>
				</li>
			</ul>
		</uib-tab>
		<uib-tab index="1" heading="Create New">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="name" class="control-label">Name</label>
					<div has-error has-feedback>
						<input type="text" class="form-control" id="name" ng-model="$ctrl.newEngine.name">
						<span ng-class="{'glyphicon-remove': !$ctrl.newEngine.name}" class="glyphicon form-control-feedback"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="ispSeaLevel" class="control-label">Isp (Sea level)</label>
					<div>
						<div class="input-group flex-container">
							<input type="number" class="form-control" id="ispSeaLevel" ng-model="$ctrl.newEngine.isp.seaLevel">
							<span ng-class="{'glyphicon-remove': $ctrl.newEngine.isp.seaLevel <= 0}" class="glyphicon glyphicon-with-addon form-control-feedback"></span>
							<div class="input-group-addon">s</div>
						</div>
					</div>
					<label for="ispVacuum" class="control-label">Vacuum</label>
					<div>
						<div class="input-group flex-container">
							<input type="number" class="form-control" id="ispVacuum" ng-model="$ctrl.newEngine.isp.vacuum">
							<span ng-class="{'glyphicon-remove': $ctrl.newEngine.isp.vacuum <= 0}" class="glyphicon glyphicon-with-addon form-control-feedback"></span>
							<div class="input-group-addon">s</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="thrustSeaLevel" class=" control-label">Thrust (Sea level)</label>
					<div>
						<div class="input-group">
							<input type="number" class="form-control" id="thrustSeaLevel" ng-model="$ctrl.newEngine.thrust.seaLevel">
							<span ng-class="{'glyphicon-remove': $ctrl.newEngine.thrust.seaLevel <= 0}" class="glyphicon glyphicon-with-addon form-control-feedback"></span>
							<div class="input-group-addon">kN</div>
						</div>
					</div>
					<label for="thrustVacuum" class="col-sm-1 control-label">Vacuum</label>
					<div>
						<div class="input-group">
							<input type="number" class="form-control" id="thrustVacuum" ng-model="$ctrl.newEngine.thrust.vacuum">
							<span ng-class="{'glyphicon-remove': $ctrl.newEngine.thrust.vacuum <= 0}" class="glyphicon glyphicon-with-addon form-control-feedback"></span>
							<div class="input-group-addon">kN</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="description" class=" control-label">Description</label>

					<div>
						<textarea ng-model="$ctrl.newEngine.description" class="form-control" id="description"></textarea>
						<span ng-class="{'glyphicon-remove': !$ctrl.newEngine.description}" class="glyphicon form-control-feedback"></span>
					</div>
				</div>

				<div class="form-group">
					<button type="button" class="btn btn-primary" ng-click="$ctrl.addEngine($ctrl.newEngine)">Add engine</button>
				</div>
			</form>

		</uib-tab>
	</uib-tabset>
</div>
