<div class="view">
	<h1>Engines</h1>

	<uib-tabset active="active">
		<uib-tab index="0" heading="Existing">
			<ul class="no-list-style" style="margin-top: 10px">
				<li ng-repeat="engine in $ctrl.engines.all | orderBy: 'name'">
					<form class="form-horizontal">
						<div class="form-group">
							<h4>{{engine.name}}</h4>
							<div class="btn-group" uib-dropdown is-open="status.isopen">
								<button id="change" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">Modify <span class="caret"></span></button>
								<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="change">
									<li role="menuitem" ng-hide="engine.beingEdited"><a ng-click="$ctrl.editEngine(engine)">Edit</a></li>
									<li role="menuitem" ng-show="engine.beingEdited"><a ng-click="$ctrl.cancelEditEngine(engine)">Cancel edit</a></li>
									<li role="menuitem" ng-class="{'disabled': engine.beingEdited}"><a ng-click="$ctrl.deleteEngine(engine)">Delete</a></li>
								</ul>
							</div>
						</div>
						<div ng-show="engine.beingEdited">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label"></label>
							</div>
						</div>
						<div ng-hide="engine.beingEdited">
							<p>Description: {{engine.description}}</p>
						</div>
					</form>
				</li>
			</ul>
		</uib-tab>
		<uib-tab index="1" heading="New">
		</uib-tab>
		<uib-tab index="2" heading="Config">
			<p><em>This tab is for testing purposes only to add engines to the database. The normal procedure for creating new engines is to use the New tab</em></p>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-5" has-error has-feedback>
						<input type="text" class="form-control" id="name" ng-model="$ctrl.newEngine.name">
						<span ng-class="{'glyphicon-remove': !$ctrl.newEngine.name}" class="glyphicon form-control-feedback"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="ispSeaLevel" class="col-sm-2 control-label">Isp (Sea level)</label>
					<div class="col-sm-2">
						<input type="number" class="form-control" id="ispSeaLevel" ng-model="$ctrl.newEngine.isp.seaLevel">
						<span ng-class="{'glyphicon-remove': $ctrl.newEngine.isp.seaLevel <= 0}" class="glyphicon form-control-feedback"></span>
					</div>
					<label for="ispVacuum" class="col-sm-1 control-label">Vacuum</label>
					<div class="col-sm-2">
						<input type="number" class="form-control" id="ispVacuum" ng-model="$ctrl.newEngine.isp.vacuum">
						<span ng-class="{'glyphicon-remove': $ctrl.newEngine.isp.vacuum <= 0}" class="glyphicon form-control-feedback"></span>
					</div>
				</div>

				<div class="form-group">
					<label for="thrustSeaLevel" class="col-sm-2 control-label">Thrust (Sea level)</label>
					<div class="col-sm-2">
						<input type="number" class="form-control" id="thrustSeaLevel" ng-model="$ctrl.newEngine.thrust.seaLevel">
						<span ng-class="{'glyphicon-remove': $ctrl.newEngine.thrust.seaLevel <= 0}" class="glyphicon form-control-feedback"></span>
					</div>
					<label for="thrustVacuum" class="col-sm-1 control-label">Vacuum</label>
					<div class="col-sm-2">
						<input type="number" class="form-control" id="thrustVacuum" ng-model="$ctrl.newEngine.thrust.vacuum">
						<span ng-class="{'glyphicon-remove': $ctrl.newEngine.thrust.vacuum <= 0}" class="glyphicon form-control-feedback"></span>
					</div>
				</div>

				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Description</label>

					<div class="col-sm-5">
						<textarea ng-model="$ctrl.newEngine.description" class="form-control" id="description"></textarea>
						<span ng-class="{'glyphicon-remove': !$ctrl.newEngine.description}" class="glyphicon form-control-feedback"></span>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-2">
						<button type="button" class="btn btn-primary" ng-click="$ctrl.addEngine($ctrl.newEngine)">Add engine</button>
					</div>
				</div>
			</form>

		</uib-tab>
	</uib-tabset>
</div>
