<div class="view">
	<h1 class="login__header">Login to SpaceYYZ</h1>
	<p>This is just a demo application. You can create an account with any random email (no email verification is sent), or just use boris@severnaya.ru, password is invincible.</p>
	<uib-tabset active="active">
		<uib-tab class="col-md-offset-1" index="0" heading="Login">
			<form class="form-horizontal" ng-submit="$ctrl.login()" style="margin-top: 10px">
				<div class="form-group">
					<label for="email" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-4">
						<input type="text" id="email" class="form-control" ng-model="$ctrl.email" placeholder="boris@severnaya.ru">
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-4">
						<input type="password" id="password" class="form-control" ng-model="$ctrl.password" placeholder="invincible">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-4">
						<button type="submit" class="btn btn-primary btn-block">Login</button>
					</div>
				</div>

			</form>
		</uib-tab>
		<uib-tab index="1" heading="Sign up">
			<form class="form-horizontal" ng-submit="$ctrl.login()" style="margin-top: 10px">
				<div class="form-group">
					<label for="email" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-4">
						<input type="text" id="email" class="form-control" ng-model="$ctrl.newAccount.email">
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-4">
						<input type="password" id="password" class="form-control" ng-model="$ctrl.newAccount.password">
						<div ng-show="$ctrl.newAccount.password.length">Password must be at least 6 characters long</div>
					</div>
				</div>

				<div class="form-group has-error has-feedback">
					<label for="confirmPassword" class="col-sm-2 control-label" style="color: rgba(255, 255, 255, 0.8)">Confirm Password</label>
					<div class="col-sm-4" >
						<input type="password" id="confirmPassword" class="form-control" ng-model="$ctrl.newAccount.confirmPassword">
						<span ng-class="{'glyphicon-remove': $ctrl.newAccount.password !== $ctrl.newAccount.confirmPassword}" class="glyphicon form-control-feedback" style="color: red"></span>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-4">
						<button type="button" ng-click="$ctrl.register()" class="btn btn-primary btn-block">Register</button>
					</div>
				</div>
			</form>
		</uib-tab>
	</uib-tabset>
</div>
