[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.nav, .pagination, .carousel, .panel-title a {cursor: pointer;}

html, body {
	height: 100%;
}

.sideMenu {
	float: left; 
	width: 200px;
	background-color: #19B3FE;
	height: 100%;
}
