<div class="view">
	<h1>Configure Spaceports</h1>
	<uib-tabset active="active">
		<uib-tab index="0" heading="Existing">
			<form class="form">
				<div class="form-group">
					<input type="text" ng-model="$ctrl.search_name" class="form-control col-sm-6" id="name" placeholder="">
				</div>
			</form>
			<br>
			<ul style="margin-top: 10px">
				<li ng-repeat="spaceport in $ctrl.spaceports.northAmerica | filter:$ctrl.search | orderBy: 'name'">
					<form class="form-horizontal">
						<div class="form-group">
							<h4>{{spaceport.name}}</h4>
							<div class="btn-group" uib-dropdown is-open="status.isopen">
								<button id="change" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
									Modify <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="change">
									<li role="menuitem" ng-hide="spaceport.beingEdited"><a ng-click="$ctrl.editSpaceport(spaceport)">Edit</a></li>
									<li role="menuitem" ng-show="spaceport.beingEdited"><a ng-click="$ctrl.cancelEditSpaceport(spaceport)">Cancel Edit</a></li>
									<li role="menuitem" ng-class="{'disabled': !spaceport.beingEdited}"><a ng-click="$ctrl.saveSpaceport(spaceport)">Save</a></li>
									<li role="menuitem" ng-class="{'disabled': spaceport.beingEdited}"><a ng-click="$ctrl.deleteSpaceport(spaceport)">Delete</a></li>
								</ul>
							</div>	
						</div>
						<div ng-show="spaceport.beingEdited">
							<div class="form-group">
								<label for="capacity" class="col-sm-2 control-label">Capacity</label>
								<div class="col-sm-5">
									<input type="number" class="form-control" id="capacity" ng-model="spaceport.capacity" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="cost" class="col-sm-2 control-label">Cost</label>
								<div class="col-sm-5">
									<input type="number" class="form-control" id="cost" ng-model="spaceport.cost" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="description" class="col-sm-2 control-label">Description</label>
								<div class="col-sm-5">
									<textarea class="form-control" id="description" ng-model="spaceport.description"></textarea>
								</div>
							</div>
						</div>
						<div ng-hide="spaceport.beingEdited">
							<p>Name: {{spaceport.name}}</p>
						</div>
					</form>
				</li>
			</ul>
		</uib-tab>
		<uib-tab index="1" heading="New">
			<form class="form-horizontal" style="margin-top: 10px">
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="name" ng-model="$ctrl.newSpaceport.name" placeholder="">
					</div>
				</div><div class="form-group">
					<label for="capacity" class="col-sm-2 control-label">Capacity</label>
					<div class="col-sm-5">
						<input type="number" class="form-control" id="capacity" ng-model="$ctrl.newSpaceport.capacity" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label for="cost" class="col-sm-2 control-label">Cost</label>
					<div class="col-sm-5">
						<input type="number" class="form-control" id="cost" ng-model="$ctrl.newSpaceport.cost" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-5">
						<textarea class="form-control" id="description" ng-model="$ctrl.newSpaceport.description"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-7">
						<button class="btn btn-primary form-control" ng-click="$ctrl.createSpaceport($ctrl.newSpaceport)">Create</button>
					</div>
				</div>
			</form>
		</uib-tab>
	</uib-tabset>
</div>
