@import "bootstrap_customization.less";
@import "header.less";
@import "user.less";

html, body {
    height: 100%;
    font-family: 'Montserrat', sanserrif;
}

body {
    //background-color: #505050;
    background-color: @dark-grey;
}

.main {
    display: grid;
    grid-template-areas: 
        "logo navigation navigation"
        "main main main"
        ;
    grid-template-columns: 1fr 2fr 1fr;
}

.main-view {
    color: @cool-blue;
    grid-area: main;
    margin: 0rem 4rem 0rem 4rem;
}

@media (min-width: 320px) {
    .main {
        //grid-row-gap: 1.5rem;
        grid-template-areas: 
            "logo"
            "navigation"
            "main";
        grid-template-columns: 1fr;
    }
}

@media (min-width: 480px) {
    .main {
    }
}

@media (min-width: 800px) {
    .main {
        grid-template-areas:
            "logo navigation"
            "main main";

        grid-template-columns: 1fr 2fr;
        grid-row-gap: 0rem;
    }
}