<div class="view">
	<h1>Schedule a new flight</h1>

	<h2 class="schedule__heading">Mission Parameters</h2>

	<form class="config-form mission__form">
		<label for="payload" class="form-label">Payload</label>
		<div class="input-group">
			<input type="text" class="form-control" id="payload" ng-model="$ctrl.payload" required ng-pattern="/^[1-9][0-9]*/">
			<div class="input-group-addon">kg</div>
		</div>	

		<label for="type" class="form-label">Type</label>
		<div class="input-group">
			<select id="type" class="form-control" ng-model="$ctrl.flight.mission.type">
				<option value="orbit">Orbit</option>
				<option value="flyby">Flyby</option>
			</select>
		</div>

		<label class="form-label">Destination</label>
		<label for="primaryDestination" class="form-label">Planet</label>
		<div class="input-group">
			<select id="primaryDestination" class="form-control" ng-model="$ctrl.flight.mission.destination.primary" ng-options="planet as planet.name for planet in $ctrl.solarSystem.planets">
			</select>
		</div>

		<label for="secondaryDestination" class="form-label">Moon</label>
		<div class="input-group">
			<select id="secondary" class="form-control" ng-model="$ctrl.flight.mission.destination.secondary" ng-options="moon for moon in $ctrl.flight.mission.destination.primary.moons">
			</select>
		</div>

	</form>

	<h2 class="requirement--header schedule__heading">Vehicles that meet mission requirements</h2>
	<ul class="vehicle-list mission__candidates">
		<li ng-repeat="vehicle in $ctrl.vehicles.all | filter:$ctrl.filter">
			<section> 

				<label>
					<input type="radio" name="vehicles" ng-model="$ctrl.selectedVehicle" ng-value="vehicle" ng-click="$ctrl.selected()">
					<a class="vehicle__name" ui-sref="vehicleOrderDetail({name: vehicle.nameWithoutSpaces})" ui-sref-active="active">
						{{vehicle.name}}
					</a>
				</label>	

				<section class="preview">
					<p>{{vehicle.description}}</p>

					<label>Variant:
						<select class="form-control variant__name" ng-model="vehicle.selectedVariant" ng-options="variant as variant.name for variant in vehicle.variants">
						</select>
					</label>

					<div class="variantBrief">
						<p>Capacity: {{vehicle.selectedVariant.capacity | number}}kg</p>
						<p>Cost: {{vehicle.selectedVariant.cost | currency}}</p>
					</div>	

				</section>
			</section>
			<div ng-show="$ctrl.selectedVehicle === vehicle && vehicle.inventory === 0" uib-alert ng-class="'alert-warning'">Currently out of stock, will be ordered if you schedule this flight</div>
		</li>
	</ul>

	<h2 class="schedule__heading">Launch Parameters</h2>
	<form class="config-form launch__form">

		<label for="launchDate" class="form-label">Launch Date</label>
		<div class="input-group">
			<input type="text" uib-datepicker-popup close-text="Close" class="form-control" id="launchDate" ng-model="$ctrl.flight.launch.date" is-open="datePicker.isOpen" datepicker-options="$ctrl.datePickerOptions">
			<span class="input-group-btn">
				<button type="button" class="btn btn-primary" ng-click="datePicker.isOpen = true">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</div>

		<div class="launch--warning" ng-show="$ctrl.selectedVehicle.inventory === 0" uib-alert ng-class="'alert-warning'">Flight will be delayed until the launch vehicle is constructed</div>

		<label for="launchTime" class="form-label">Launch Time</label>
		<div class="input-group">
			<div uib-timepicker ng-model="$ctrl.flight.launch.date" show-meridian="false"></div>
		</div>

		<label for="continent" class="form-label">Launch Site</label>
		<select id="continent" class="form-control launch__continent" ng-model="$ctrl.continent" ng-change="$ctrl.continentChanged()">
			<option value="northAmerica">North America</option>
			<option value="europe">Europe</option>
			<option value="asia">Asia</option>
		</select>

		<label for="spaceport" class="form-label">Spaceport</label>
		<div uib-dropdown class="btn-group" has-error has-feedback is-open="$ctrl.isopen">
			<label class="form-label sr-only" for="filterName"></label>
			<input id="filterName" type="text" uib-dropdown-toggle ng-model="$ctrl.filtername"
				ng-change="$ctrl.filterChanged()" class="form-control" ng-focus="$ctrl.isopen = true" style="color: black;">
			<span ng-class="{'glyphicon-remove': !$ctrl.selectedValidSpaceport}" class="glyphicon form-control-feedback" style="color: red"></span>
			<div uib-dropdown-menu class="dropdown-menu">
				<div class="spaceport" ng-repeat="group in $ctrl.spaceports[$ctrl.continent]">
					<p><strong>{{group.name}}</strong></p>
					<ul>
						<li ng-repeat="spaceport in group.spaceports | filter: $ctrl.spaceportFilter" ng-click="$ctrl.spaceportSelected(spaceport)">{{spaceport.name}}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="launch--warning" ng-show="$ctrl.flight.mission.vehicle.invalid" uib-alert ng-class="'alert-warning'">Select a vehicle to schedule a launch</div>

		<button id="schedule" type="button" 
			class="btn btn-primary schedule__button" ng-click="$ctrl.schedule()">
			Schedule
		</button>
	</form>
</div>

