<div class="view">
	<h1>Spaceport Status</h1>
	<uib-tabset active="active">
		<uib-tab index="0" heading="North America">
			<ul class="no-list-style spaceport-list">
				<li ng-repeat="spaceport in $ctrl.spaceports.northAmerica"
					class="spaceport-list__element">
					<section>
						<h1>{{spaceport.name}}</h1>

						<div ng-show="spaceport.scheduledFlights.length > 0">
							<h2>Scheduled launches</h2>
							<table class="spaceport">
								<tr class="spaceport__column-headers">
									<th>Mission</th>
									<th>Launch Date</th>
									<th>Days until launch</th>
								</tr>

								<tr ng-repeat="flight in spaceport.scheduledFlights">
									<td><a ui-sref="flightDetails({missionName: flight.mission.name, flight: flight})" 
										ui-sref-active="active">{{flight.mission.name | uppercase}}</a></td>
									<td class="spaceport__launch-date">{{flight.launch.dateTimestamp | date: 'medium'}}</td>
									<td class="spaceport__tminus">{{flight.launch.tminus | number: 2}} days</td>
								</tr>
							</table>
						</div>

						<p ng-hide="spaceport.scheduledFlights.length > 0">No launches are scheduled</p>
					</section>
				</li>
			</ul>
		</uib-tab>
		<uib-tab index="1" heading="Europe">
			<ul class="no-list-style spaceport-list">
					<li ng-repeat="spaceport in $ctrl.spaceports.europe"
						class="spaceport-list__element">
						<section>
							<h1>{{spaceport.name}}</h1>
							<h2>Scheduled launches</h2>


							<div ng-show="spaceport.scheduledFlights.length > 0">
								<table class="spaceport">
									<tr class="spaceport__column-headers">
										<th>Mission</th>
										<th>Launch Date</th>
										<th>Days until launch</th>
									</tr>
		
									<tr ng-repeat="flight in spaceport.scheduledFlights">
										<td><a ui-sref="flightDetails({missionName: flight.mission.name, flight: flight})" 
											ui-sref-active="active">{{flight.mission.name | uppercase}}</a></td>
										<td class="spaceport__launch-date">{{flight.launch.dateTimestamp | date: 'medium'}}</td>
										<td class="spaceport__tminus">{{flight.launch.tminus | number: 2}} days</td>
									</tr>
								</table>
							</div>

							<p ng-hide="spaceport.scheduledFlights.length > 0">No launches are scheduled</p>
						</section>
					</li>
				</ul>
		</uib-tab>
		<uib-tab index="2" heading="Asia">
			<ul class="no-list-style spaceport-list">
					<li ng-repeat="spaceport in $ctrl.spaceports.asia"
						class="spaceport-list__element">
						<section>
							<h1>{{spaceport.name}}</h1>
							<h2>Scheduled launches</h2>

							<div ng-show="spaceport.scheduledFlights.length > 0">
								<table class="spaceport">
									<tr class="spaceport__column-headers">
										<th>Mission</th>
										<th>Launch Date</th>
										<th>Days until launch</th>
									</tr>
		
									<tr ng-repeat="flight in spaceport.scheduledFlights">
										<td><a ui-sref="flightDetails({missionName: flight.mission.name, flight: flight})" 
											ui-sref-active="active">{{flight.mission.name | uppercase}}</a></td>
										<td class="spaceport__launch-date">{{flight.launch.dateTimestamp | date: 'medium'}}</td>
										<td class="spaceport__tminus">{{flight.launch.tminus | number: 2}} days</td>
									</tr>
								</table>
							</div>
							
							<p ng-hide="spaceport.scheduledFlights.length > 0">No launches are scheduled</p>
						</section>
					</li>
				</ul>
		</uib-tab>
	</uib-tabset>
</div>
