.catalog {
    padding: 0rem;
}

.catalog__item {
    margin: auto;
    margin-top: 2rem;
}

.engine {
    display: grid;
    grid-template-columns: 10rem 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    align-items: center;
    justify-items: end;

    .input-group {
        width: 100%;
    }
}

.engine__header {
    grid-column: 1;
}

.engine__description {
    grid-column-start: 2;
    grid-column-end: 4;
}

.engine__sea-level {
    grid-column: 2;
}

.engine__vacuum {
    grid-column: 3;
}

.named-menu {
    display: flex;
    justify-content: space-between;
}

.thrust__sea-level__header,
.thrust__vacuum__header {
    visibility: collapse;
}

@media (max-width: 479px) {
    .engine--editing.engine {
        grid-template-columns: 7rem 1fr;
        justify-items: start;
        margin: 2rem 0rem;
    }

    .engine--editing {
        .engine__header {
            grid-column: 2;
        }

        .engine__name {
            grid-column: 2;
        }

        .engine__sea-level {
            grid-column: 1;
        }

        .engine__vacuum {
            grid-column: 1;
        }

        .input-group.engine__sea-level {
            grid-column: 2;
        }

        .input-group.engine__vacuum {
            grid-column: 2;
        }

        .isp__header {
            grid-row: 1;
        }

        .isp__sea-level {
            grid-row: 2;
        }

        .isp__vacuum {
            grid-row: 3;
        }

        .thrust__header {
            grid-row: 4;
        }

        .thrust__sea-level,
        .thrust__sea-level__header {
            grid-row: 5;
        }

        .thrust__vacuum,
        .thrust__vacuum__header {
            grid-row: 6;
        }

        .thrust__sea-level__header,
        .thrust__vacuum__header {
            visibility: visible;
        }

        .description__header {
            grid-row: 7;
        }

        .description__content {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row: 8;
        }
    }
}

@media (min-width: 600px) {
    .catalog__item {
        width: 80%;
    }
}