<!DOCTYPE html>
<html ng-app="spaceyyz">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Cutive|Montserrat" rel="stylesheet"> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
						 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
						 integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="spaceyyz.css">
		<title>SpaceYYZ</title>
		<meta charset="utf-8">
	</head>
	<body style="overflow:hidden">
		<div class="clearfix" style="color: black; height: 40px">
			<div class="pull-left">

				<div class="pull-left logoContainer">
					<h1 style="display: inline;">SpaceYYZ</h1>
					<div class="logoSquircle"></div>
					<div class="logoSquircle squircle1"></div>
					<div class="logoSquircle squircle2"></div>
				</div>

				<i>your one stop shop for Space Operations</i>
			</div>

			<div class="pull-right" style="overflow: hidden; margin-top: 3px; margin-right: 3px" ng-controller="userAccount as userr">

				<div ng-show="user.email">
					Logged in as {{user.email}}
					<button ng-click="user.logout()" type="button" class="btn btn-primary">Log out</button>
				</div>

				<div ng-hide="userr.isLoggedIn()">
					<form class="form-inline" ng-submit="userr.login()">
						<div class="form-group">
							<label for="email" class="sr-only control-label">Email</label>
							<div>
								<input type="text" id="email" class="form-control" ng-model="email" placeholder="Email">
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="sr-only control-label">Password</label>
							<div>
								<input type="password" id="password" class="form-control" ng-model="password" placeholder="Password">
							</div>
						</div>

						<button ng-click="userr.login(email, password)" type="button" class="btn btn-primary">Log in</button>
					</form>
				</div>


			</div>
		</div>

		<div class="sideMenu">
			<uib-accordion>
				<div uib-accordion-group class="panel-default" heading="Home">
					<ul>
						<li><a ui-sref="home" ui-sref-active="active">Account</a></li>
						<li><a ui-sref="about" ui-sref-active="active">About</a></li>
					</ul>
				</div>
				<div uib-accordion-group class="panel-default" heading="Launch Vehicles">
					<ul>
						<li><a ui-sref="orderNew" ui-sref-active="active">Order New</a></li>
						<li><a ui-sref="development" ui-sref-active="active">In Development</a></li>
						<li><a ui-sref="completed" ui-sref-active="active">Inventory</a></li>
						<li><a ui-sref="config" ui-sref-active="active">Config</a></li>
					</ul>
				</div>

				<div uib-accordion-group class="panel-default" heading="Flights">
					<ul>
						<li><a ui-sref="schedule" ui-sref-active="active">Schedule flight</a></li>
						<li><a ui-sref="progress" ui-sref-active="active">In Progress</a></li>
					</ul>
				</div>

				<div uib-accordion-group class="panel-default" heading="Spaceports">
					<ul>
						<li><a ui-sref="spaceportStatus" ui-sref-active="active">Status</a></li>
						<li><a ui-sref="configureSpaceport" ui-sref-active="active">Configure</a></li>
					</ul>
				</div>

				<div uib-accordion-group class="panel-default" heading="Research & Development">
					<ul>
						<li><a ui-sref="researchEngine" ui-sref-active="active">Engines</a></li>
						<li><a ui-sref="designStage" ui-sref-active="active">Stages</a></li>
					</ul>
				</div>
			</uib-accordion>	
		</div>

		<div ui-view style="overflow-y: auto; background-color: #505050; height: calc(100% - 40px)">
		</div>
		
		<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-database.js"></script>
		<script>
			// Initializing Firebase
			var config = {
				apiKey: "AIzaSyDiLuNfzOgNiPzozjxKmxCymOtRsK2PFRc",
				authDomain: "spaceyyz.firebaseapp.com",
				databaseURL: "https://spaceyyz.firebaseio.com",
				storageBucket: "",
				messagingSenderId: "493266462901"
			};

			firebase.initializeApp(config);
		</script>

		<script src="bundle.js"></script>
		<script src="https://unpkg.com/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
		
	</body>
</html>
