<!DOCTYPE html>
<html ng-app="spaceyyz">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Cutive|Montserrat" rel="stylesheet"> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
						 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
						 integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="spaceyyz.css">
		<title>SpaceYYZ</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="main">
			<div class="logo">
				<h1 class="logo__name">SpaceYYZ</h1>
				<div class="logo__squircle"></div>
				<div class="logo__squircle squircle1"></div>
				<div class="logo__squircle squircle2"></div>
			</div>

			<nav class="navigation" ng-class="{'navigation--offscreen': user.user.email}"  ng-controller="userAccount as user" ng-show="user.email">
				<div class="menu" uib-dropdown>
					<button id="home-button" class="menu__button" type="button" uib-dropdown-toggle>
						Home
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="home-button">
						<li class="menu__item" role="menuitem">
							<a ui-sref="home" ui-sref-active="active"><p class="menu__link">Account</p></a>
						</li>
						<li class="menu__item" role="menuitem">
							<a ui-sref="about" ui-sref-active="active"><p class="menu__link">About</p></a>
						</li>
						<li class="menu__item" role="menuitem">
							<a href="#" ng-click="user.logout()"><p class="menu__link">Log out</p></a>
						</li>
					</ul>
				</div>
				<div class="menu" uib-dropdown>
					<button id="vehicles-button" class="menu__button" type="button" uib-dropdown-toggle>
						Vehicles
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="vehicles-button">
						<li class="menu__item" role="menuitem">
							<a ui-sref="orderNew" ui-sref-active="active"><p class="menu__link">Order New</p></a>
						</li>
						<li class="menu__item" role="menuitem">
							<a ui-sref="development" ui-sref-active="active"><p class="menu__link">In Development</p></a>
						</li>
						<li class="menu__item" role="menuitem">
							<a ui-sref="completed" ui-sref-active="active"><p class="menu__link">Inventory</p></a>
						</li>
						<li class="menu__item" role="menuitem">
							<a ui-sref="config" ui-sref-active="active"><p class="menu__link">Configure</p></a>
						</li>
					</ul>
				</div>
				<div class="menu" uib-dropdown>
					<button id="flights-button" class="menu__button" type="button" uib-dropdown-toggle>
						Flights
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="flights-button">
						<li class="menu__item" role="menuitem">
							<a ui-sref="schedule" ui-sref-active="active"><p class="menu__link">Schedule flight</p></a>
						</li>
						<li class="menu__item" role="menuitem">
							<a ui-sref="progress" ui-sref-active="active"><p class="menu__link">Check Progress</p></a>
						</li>
					</ul>
				</div>
				<div class="menu" uib-dropdown>
					<button id="spaceports-button" class="menu__button" type="button" uib-dropdown-toggle>
						Spaceports
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="spaceports-button">
						<li class="menu__item" role="menuitem">
							<a ui-sref="spaceportStatus" ui-sref-active="active"><p class="menu__link">Status</p></a>
						</li>
						<li class="menu__item" role="menuitem">
							<a ui-sref="configureSpaceport" ui-sref-active="active"><p class="menu__link">Configure</p></a>
						</li>
					</ul>
				</div>
				<div class="menu" uib-dropdown>
					<button id="research-button" class="menu__button" type="button" uib-dropdown-toggle>
						Research
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="resarch-button">
						<li class="menu__item" role="menuitem">
							<a ui-sref="researchEngine" ui-sref-active="active"><p class="menu__link">Engines</p></a>
						</li>
						<li class="menu__item" role="menuitem">
							<a ui-sref="designStage" ui-sref-active="active"><p class="menu__link">Stages</p></a>
						</li>
					</ul>
				</div>
			</nav>

			<!--
			<div class="login" ng-controller="userAccount as user">

				<div ng-show="user.email">
					Logged in as {{user.email}}
					<button ng-click="user.logout()" type="button" class="btn btn-primary">Log out</button>
				</div>

				<div ng-hide="user.email">
					<form class="form-inline" ng-submit="user.login()">
						<div class="form-group">
							<label for="email" class="sr-only control-label">Email</label>
							<div>
								<input type="text" id="email" class="form-control" ng-model="email" placeholder="Email">
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="sr-only control-label">Password</label>
							<div>
								<input type="password" id="password" class="form-control" ng-model="password" placeholder="Password">
							</div>
						</div>

						<button ng-click="user.login(email, password)" type="button" class="btn btn-primary">Log in</button>
					</form>
				</div>
			</div>
			-->

			<main class="main-view" ui-view> 
			</main>

		</div>
		
		<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-database.js"></script>
		<script>
			// Initializing Firebase
			var config = {
				apiKey: "AIzaSyDiLuNfzOgNiPzozjxKmxCymOtRsK2PFRc",
				authDomain: "spaceyyz.firebaseapp.com",
				databaseURL: "https://spaceyyz.firebaseio.com",
				storageBucket: "",
				messagingSenderId: "493266462901"
			};

			firebase.initializeApp(config);
		</script>

		<script src="bundle.js"></script>
		<script src="https://unpkg.com/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
		
	</body>
</html>
