.order--search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.search--label {
    padding-top: 0px;
    text-align: right;
}

.search--type {
    margin: 0rem 2rem;
}

.vehicle-list {
    list-style: none;
    margin-top: 4rem;
}

.vehicle--name {
    text-transform: capitalize;
}

.vehicle--variants {
    display: flex;
    justify-content: space-evenly;
}

.vehicle--description {
    font-size: 1.3em;
}

.variants--header {
    font-size: 1.7em;
    text-align: center;
}